/* Blog Scaffolding */

.container-blog {
	margin:0px;
	padding:0px;
	margin-top:20px;
	font-size: 14px;
}

.container-blog .span3 {
	margin-left:0px;
	padding-left:0px;
}

.container-blog .span9 {
	margin:0px;
	padding:0px;
	padding-top:5px;
	padding-left:0px
}

.container-blog .span9.pull-right {
	float:right;
}

/* Blog Navigation */

.container-blog .nav.nav-pills.nav-stacked li {
	
	color:#7D7D7B;
	font-size:12px;
	padding-top:0px;
	padding-bottom:0px; 
}
.container-blog .nav.nav-pills.nav-stacked li > a {
	font-size: 14px;
	color:#08C;
	padding-bottom:0px;
}
.container-blog .nav.nav-pills.nav-stacked li > a:hover {
	font-size: 14px;
	color:#005580;
	background-color:#FFF;
	text-decoration: underline;
}

.container-blog .nav.nav-pills.nav-stacked li.nav-header {
	color:#7D7D7B;
	font-size:13px;
	margin-top:20px;
	padding-left:0px;
}

/* Blog Navigation */
.container-blog .nav.nav-pills.nav-stacked li {
	margin-bottom: 10px;
	color:#7D7D7B;
	font-size:12px;
}
.container-blog .nav.nav-pills.nav-stacked.nav-posts li > a {
	font-size: 16px;
	color:#08C;
	padding-left:0px;
	padding-bottom:0px;
}
.container-blog .nav.nav-pills.nav-stacked.nav-posts li > a:hover {
	font-size: 16px;
	color:#005580;
	background-color:#FFF;
	text-decoration: underline;
}

/* Standard Page Elements */

article {
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:3px solid #E4E4E4;
}

article:last-child {
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:0px solid #E4E4E4;
}


article hr {
	border-bottom: 1px solid #EEE;
	margin-top:15px;
	margin-bottom:10px;
}

cite {
	color: #B0B0AD;
	line-height: 30px;
}

cite a {
	color: #7D7D7B;
}

code {
	color:#333;
}

ul li {
	color: #5A5A5A;
}

h1 {
	font-size:33px;
	font-weight:normal;
	color:#353535;
}

h2 {
	font-size:24px;
	font-weight:normal;
	color:#353535;
	margin-top:25px;
}

h3 {
	font-size:19px;
	font-weight:normal;
	color:#353535;
	margin-top:25px;
}

h4 {
	font-size:16px;
	font-weight:normal;
	color:#353535;
}

p {
	color:#5A5A5A;
	padding-top:10px;
	line-height:20px;
}

ul {
	margin-top:10px;
	margin-bottom:5px;
}

img {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 8px;
	background: white;
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 12px rgba(0,0,0,0.4);
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
	margin:10px 0px;
}

pre {
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	color:#000;
	margin-top:10px;
	margin-bottom:10px;
}

/* Photo Gallery */

.gallery {
	display:inline-block;
}

.gallery > img {
	max-width:125px !IMPORTANT;
	max-height:300px !IMPORTANT;
	display:inline-block;
	margin-right:15px;
	margin-bottom:15px;
}
