<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blog &middot; drone.io</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<link rel="icon" type="image/png" href="img/favicon.png">
		<link href="/css/bootstrap.css" rel="stylesheet" />
		<link href="/css/drone-base.css" rel="stylesheet" />
		<link href="/css/drone-blog.css" rel="stylesheet" />
		<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen">
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- Primary Navigation
		================================================== -->
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="https://drone.io"></a>
					<ul class="nav pull-right">
						<li class="active"><a href="http://blog.drone.io">Blog</a></li>
						<li><a href="http://docs.drone.io">Documentation</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="container-inner">
				<div class="container-fluid container-blog">
					<!-- Blog Posts
					================================================== -->
					<div class="span9">
						{{ .content }}
					</div>

					<!-- Sub Navigation
					================================================== -->
					<div class="span3 pull-right">
						<p><a href="https://drone.io">Drone.io</a> is a fully-managed Continuous Integration service. <a href="https://drone.io">Try it free today!</a></p>
						<p style="border-top: 1px solid #EEE;margin-top: 20px;padding-top: 20px;"><a href="http://blog.drone.io/atom.xml">Subscribe to this Blog</a></p>
						<h3 style="margin-top:30px;padding-top: 10px;border-top: 1px solid #EEE;margin-top: 20px;">Recent Posts</h3>
						<ul class="nav nav-pills nav-stacked nav-posts">
							{{ range .site.posts }}
							<li><a href="/{{ .url }}">{{ .title }} </a>{{ .author }} on {{ .date | date_to_string }}</li>
							{{ end }}
						</ul>

					</div><!-- end .span3-->
				</div><!-- end .container-fluid -->
			</div><!-- end .inner -->
		</div>

		<!-- Footer
		================================================== -->
		<footer>
			<ul>
				<li><a href="https://drone.io/pricing">Plans and Pricing</a></li>
				<li><a href="http://blog.drone.io">Blog</a></li>
				<li><a href="http://docs.drone.io/contact.html">Contact</a></li>
				<li><a href="http://docs.drone.io">Documentation</a></li>
				<li><a href="http://docs.drone.io/privacy.html">Privacy Policy</a></li>
				<li><a href="http://docs.drone.io/tos.html">Terms of Service</a></li>
			</ul>
			<p class="copyright">&copy; 2012 <strong>Drone.io</strong> All Rights Reserved.</p>
		</footer>

		<!-- Le javascript
		================================================== -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
		<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		<script>$("a.gallery").fancybox();</script>

		<!-- Analytics
		================================================== -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34247933-1']);
			_gaq.push(['_setDomainName', 'drone.io']);
				_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
